/* Standard styling */
::-webkit-scrollbar { width: 0px; }

body { width: 100vw; min-height: 100vh; margin: 0; padding: 0; font-family: Regular; overflow-x: hidden; transition: background 300ms var(--easing);

--width: calc(calc(100vw - 240px) / 4);
--spacing: 96px;

}

@media screen and (max-width: 1727px) {
body {

--width: calc(calc(100vw - 128px) / 3);
--spacing: 48px;

} }

@media screen and (max-width: 1079px) {
body {

--width: calc(calc(100vw - 112px) / 2);

} }



/* Return Button */
body > a#return_button { position: fixed; top: 8px; left: 24px; display: flex; justify-content: center; align-items: center; width: 48px; height: 48px; border-radius: 24px; transition: background 200ms var(--easing); z-index: 102; cursor: pointer; }
body > a#return_button svg > * { fill: white; }
body > a#return_button:hover { background: var(--light-1); }
body > a#return_button:active { background: var(--light-2); }


/* Header */	
body > header { position: relative; width: 100vw; height: 64px; padding: 0 var(--spacing); box-sizing: border-box; margin: 0; display: flex; justify-content: space-between; overflow-y: hidden; }

body > header.current { position: fixed; top: 0; left: 0; box-shadow: var(--shadow-4); z-index: 100; background: var(--polar); color: white; }


	/* Title */
	body > header > h2 { display: flex; align-items: center; line-height: 64px; }
	body > header > h2:before { content: 'Sample Page'; padding-right: 8px; font-family: regular; }
	body > header > h2 > h2 { font-size: 100%; transition: color 200ms var(--easing), opacity 200ms var(--easing); }
	

	/* NavBar */
	body > header > nav { display: flex; align-items: center; margin: 0 -8px; }
	nav { transition: opacity 200ms var(--easing); }
	body > header > nav > a { display: flex; flex-direction: column; align-items: center; justify-content: space-between; width: 96px; height: 96px; padding: 26px 8px; box-sizing: border-box; overflow-x: visible; font: var(--small-a); border-radius: 48px; color: var(--c6); transition: background-color 200ms var(--easing), color 200ms var(--easing), width 200ms var(--easing), height 200ms var(--easing), margin 200ms var(--easing); cursor: pointer; }
	
	body > header > nav > a > svg { transform: scale(1); margin: 0; transition: opacity 200ms var(--easing); }
	body > header > nav > a.off > svg { opacity: 0.25; }
	body > header > nav > a.on > svg { opacity: 1; }
	body > header > nav > a > svg > * { fill: var(--c6); transition: fill 200ms var(--easing); }

	body > header > nav:not(.nav_home) > a { color: white; }
	body > header > nav:not(.nav_home) > a > svg > * { fill: white; }
	
	body > header.current > nav > a { color: white; }
	body > header.current > nav > a > svg > * { fill: white; }


	/* Nav Switcher */
	nav.switcher { display: flex; flex-direction: column; width: 240px; margin-top: 12px; float: left; }
	nav.switcher > a { font: 12px/48px Bold; padding: 0 16px 0 var(--spacing); margin: 4px 0; border-radius: 0 4px 4px 0; transition: background 200ms var(--easing), color 200ms var(--easing); }
	nav.switcher > a:not(.current):hover { background: var(--dark-1); }
	nav.switcher > a:not(.current):active { background: var(--dark-2); }
	nav.switcher > a.current { background: rgba(19,255,255,.2); }
	nav.switcher.fixed { position: fixed; top: 64px; }
	
	
	/* NavBar "card swap" */
	figure nav { display: none; opacity: 0; }


/* Responsive margins */
@media screen and (max-width: 1727px) {
body > a#return_button { left: 8px; width: 32px; height: 32px; } }


/* Deprecated

* Scroll Slider

body > div.slider { position: fixed; top: 64px; right: 0; width: 24px; height: calc(100vh - 64px); display: flex; flex-direction: column; border-left: 1px solid var(--dark-2); box-sizing: border-box; }
body > div.slider > div { background: var(--dark-1); position: relative; }
body > div.slider > div.slider-before { background: var(--dark-2); }
body > div.slider > div:hover { background: var(--dark-1); }
body > div.slider > div.slider-before:hover { background: var(--dark-3); }

body > div.slider > div:not(:last-of-type):before { content: ''; display: block; position: absolute; bottom: -6px; left: 9px; min-height: 12px; min-width: 4px; border-radius: 2px; background: var(--dark-solid-4); z-index: 90; transition: background 200ms var(--easing); }
body > div.slider > div.slider-before:after { background: white; }
body > div.slider > div > div { min-width: 100%; background: var(--dark-2); }
body > div.slider > div > div:not(.slider-now) { height: 0; }


