
/* Section Launcher - Web Launcher */

section#launcher { position: relative; display: flex; flex-wrap: wrap; padding: 0 calc(var(--spacing) - 16px) calc((var(--spacing) / 2) - 24px) calc(var(--spacing) - 16px); margin-top: 64px; }
	
section#launcher > div { width: 100%; padding: 16px 8px; box-sizing: border-box; position: relative; display: flex; flex-wrap: wrap; border-radius: 4px; transition: background 300ms var(--easing); }
section#launcher > div > h3 { width: 100%; padding-left: 8px; }
section#launcher > div > *:not(h3) { padding: 8px; margin: 0px; position: relative; /**/width: calc(1 / 5 * 100% - 16px); border-radius: 4px; transition: background 300ms var(--easing), padding 300ms var(--easing), margin 300ms var(--easing), height 300ms var(--easing); height: 64px; overflow-y: hidden; background: var(--c0); }

section#launcher > div > *:not(h3) img, section#launcher > div > *:not(h3) figure { width: 64px; margin-right: 8px; display: inline-block; float: left; z-index: 8; border-radius: 4px;  box-sizing: border-box; }

 
section#launcher > div > *:not(h3) figure { height: 64px; background: var(--c2); border-radius: 4px;  display: flex; justify-content: center; align-items: center; }

section#launcher > div > *:not(h3) figure > svg { transform: scale(1); }

section#launcher > div > *:not(h3) figure > svg > * { fill: var(--c6); }

section#launcher > div > *:not(h3) p { line-height: 32px; padding: 0 0 0 8px; display: flex; align-items: center; }
section#launcher > div > a p { line-height: 64px; }

section#launcher > div > *:not(h3) a { font: var(--small-a); line-height: 32px; padding: 0 8px; display: inline-block; float: left; text-decoration: none; border-radius: 4px; transition: background 300ms var(--easing), opacity 300ms var(--easing); }

section#launcher > div > *:not(h3) a:hover { background: var(--c3); }
section#launcher > div > *:not(h3) a:active { background: var(--c4); }

section#launcher > div > *:not(h3) > div { position: relative; width: calc(100% - 72px); right: 0; float: left; } /* sprawdza wysokość folderu */

section#launcher > div:hover { background: var(--c1); }
section#launcher > div:hover > *:not(h3) { background: var(--c1); }
section#launcher > div > *:not(h3):not(.grounded_long):hover { background: var(--c2); }
section#launcher > div > *:not(h3):not(.folder):active { background: var(--c3); margin: -2px; padding: 10px; z-index: 90; }

@media screen and (min-width: 1920px) {
	section#launcher > div { width: 50%; display: block; }
	section#launcher > div > *:not(h3) { width: calc(1 / 3 * 100% - 16px); float: left; } }

@media screen and (max-width: 1439px) {
	section#launcher > div > *:not(h3) { width: calc(1 / 4 * 100% - 16px); } }
	
@media screen and (max-width: 1279px) {
	section#launcher > div > *:not(h3) { width: calc(1 / 3 * 100% - 16px); } }
	
@media screen and (max-width: 959px) {
	section#launcher > div > *:not(h3) { width: calc(1 / 2 * 100% - 16px); } }
	
@media screen and (max-width: 639px) {
	section#launcher > div > *:not(h3) { width: calc(100% - 16px); } }


/* Smart Folders 3 */

	section#launcher > div > div.long { height: 64px; }

	section#launcher > div > div.long p > div  { margin-left: 8px; display: flex; align-items: center; float: right; }
	
	section#launcher > div > div.long p > div svg  { transform: scale(calc(10 / 24)); transition: transform 200ms var(--easing); }
	section#launcher > div > div.long p > div svg > * { fill: var(--c6); }
	
	section#launcher > div   div.long:hover p > div svg { transform: scale(calc(10 / 24)) rotate(180deg); }
	
	section#launcher > div   div.long a.hidden_link { opacity: 0; transition: background 200ms var(--easing), opacity 100ms var(--easing); }

	section#launcher > div   div.long:hover a.hidden_link { opacity: 1; transition: background 200ms var(--easing), opacity 400ms var(--easing); }


/* Section Cards */

/* Card component */

	section#cards { padding-left: calc(var(--spacing) - 8px); padding-right: calc(var(--spacing) - 8px); padding-top: 0; padding-bottom: calc((var(--spacing) / 2) - 8px); display: flex; flex-wrap: wrap; }
	
	#cards > * { display: inline-block; position: relative; float: left; border-radius: 4px; box-shadow: var(--shadow-2); margin: 8px; width: var(--width); height: calc(var(--width) / 4 * 3); box-sizing: border-box; background: var(--black); }
	#cards > *.unpacked { width: calc(var(--width) * 3 + 16px * 2); }

	#cards > * > header { width: 100%; height: 100%; padding: 16px 24px; box-sizing: border-box; position: relative; display: flex; flex-direction: column; color: white; background-size: auto 100%; background-position: center;
	background-repeat: no-repeat; z-index: /**/ 50; }

	#cards > * > header.floating { position: absolute; display: none; }

	#cards > * > header h1, #cards > * > header h2, #cards > * > header p { transition: opacity 200ms var(--easing); }
	
	#cards > figure > section { position: relative; z-index: /**/ 51; padding: 0 48px 48px 48px; box-sizing: border-box; background: var(--c0); }
	#cards > figure > section > h3 { padding: 24px 0 8px 0; max-width: 800px; }
	#cards > figure > section > p  { padding: 8px 0; max-width: 800px; }
	
	#cards > figure.initiative > h4 { padding: 36px 48px; text-align: center; background: var(--c3); position: relative; box-sizing: border-box; }
	#cards > figure.initiative > section { background: linear-gradient(to right, var(--c1) 896px, var(--c2) 896px); }
	
	#cards > figure.unpacked > header { background-position-x: right; }
	

 /* Returnable */
 
	#cards + #fade { background: black; opacity: .8; animation: appear 400ms var(--easing) forwards; width: 100vw; height: calc(100vh - 64px); position: fixed; left: 0; top: 64px; cursor: pointer; z-index: 91; }
	#cards > figure { transition: box-shadow 300ms var(--easing), border-radius 400ms var(--easing), height 700ms var(--easing), top 700ms var(--easing), width 400ms var(--easing), left 400ms var(--easing); }
	#cards > figure.copy { opacity: 0; }
	
	/* initial state */
	#cards > *.closed { z-index: 90; cursor: pointer; overflow: hidden; }
	#cards > *.closed:hover { box-shadow: var(--shadow-3); }
	#cards > figure.closed > header h1 { opacity: 0; height: 0; }

	/* launching .opened */
	#cards > figure.opened { position: fixed; overflow-x: hidden; overflow-y: scroll; z-index: 92; cursor: default; }
	#cards > figure.opened > header h1 { opacity: 0; height: 0; }
	#cards > figure.opened > header :not(h1) { opacity: 0; }
	
	#cards > figure.maxi.opened { border-radius: 0; }

	/* .opened ready */
	#cards > figure.opened.opened_loaded > header { align-items: center; justify-content: center; }
	#cards > figure.opened.opened_loaded > header h1 { opacity: 1; height: initial; }
	#cards > figure.opened.opened_loaded > header :not(h1) { height: 0; }
	
	#cards > figure.unpacked.opened_loaded > header { background-attachment: fixed; }

	/* loading .closed */
	#cards > figure.closed_loading { transition: box-shadow 300ms var(--easing), border-radius 1000ms ease-out, height 400ms var(--easing), top 400ms var(--easing), width 400ms var(--easing), left 400ms var(--easing); }
	#cards > figure.closed_loading > header { align-items: center; justify-content: center; transition: transform 400ms var(--easing); z-index: 105; }
	#cards > figure.closed_loading > header h1 { opacity: 0; height: initial; }
	#cards > figure.closed_loading > header :not(h1) { height: 0; }
	
	#cards > figure.maxi.closed_loading { border-radius: 4px; }

	/* finish */
	#cards > figure.closed_loading_2 > header h1 { height: 0; }
	#cards > figure.closed_loading_2 > header :not(h1) { opacity: 1; }
	
	#cards > figure.maxi.closed_loading_2 { border-radius: 4px; }


/* Footer */

	#cards > figure > footer { padding: 48px; position: relative; display: flex; flex-direction: column; align-items: center; background: var(--black); color: white; }


/* Unpacked Card */

	#cards > figure.unpacked > h1 { line-height: calc(100vh - 64px); text-align: center; position: relative; display: block; background-attachment: fixed; }
	#cards > figure.unpacked > section { position: relative; z-index: /**/ 51; box-sizing: border-box; background: var(--c0); display: flex; justify-content: center; align-items: center; padding: 24px calc(var(--spacing) / 2); }
	#cards > figure.unpacked > section:nth-last-of-type(2n) { flex-direction: row-reverse; }
	#cards > figure.unpacked > section > img { min-width: calc(100vw - 800px - calc(var(--spacing) * 3)); height: calc(100vw - 800px - calc(var(--spacing) * 3)); padding: 0 calc(var(--spacing) / 2); }
	#cards > figure.unpacked > section > div { width: 800px; padding: 0 calc(var(--spacing) / 2) 24px calc(var(--spacing) / 2); }
	#cards > figure.unpacked > section > div > h3 { padding-top: 32px; }
	#cards > figure.unpacked > section > div > h3:first-of-type { padding-top: 8px; }
	#cards > figure.unpacked > section > div > p { padding: 8px 0; }
	#cards > figure.unpacked > section > div > p > a { border-bottom-width: 1px; border-bottom-style: dotted; }
	#cards > figure.unpacked > section > div > hr { border-width: 0; border-bottom: 1px solid var(--c5); margin-top: 36px; }


/* Deprecated
*
* Section Blog

body > section#blog { padding: 16px var(--spacing) var(--spacing) 0; width: calc(100vw - 240px - 16px); display: flex; float: right; }

#blog > section { min-width: 100%; min-height: calc(100vh - 64px - 16px - var(--spacing)); }

#blog > section > .title { width: 100%; max-width: 896px; margin: 0 auto; padding: 48px; box-sizing: border-box; background: rgba(215,253,89,.2); border-radius: 4px; }
#blog > section > .title > p { font: 36px/1.2 Light; }
#blog > section > .title > time { font: 17px/36px Regular; margin: 8px 16px 0 0; display: inline-block; position: relative; }

#blog > section > p { font: 16px/28px Regular; width: 1005; max-width: 896px; padding: calc(48px - 6px) 48px 56px 48px; margin: 0 auto; box-sizing: border-box; }
#blog > section > p > a { border-bottom: 1px dotted var(--c6); }
#blog > section > p > br { height: 16px; display: block; content: ''; }